__pycache__/app_state.cpython-312.pyc
__pycache__/app_state.cpython-312.pyc
__pycache__/CentralPlotArea.cpython-312.pyc
__pycache__/controllers.cpython-312.pyc
__pycache__/curve_selection_dialog.cpython-312.pyc
